<footer class=" p-4">
  <div class="p-4">
    <div class="p-4">
      <div class="p-4 row">
        <div class="col-md-4 col-sm-12">
          <img src="../assets/img/logofooter.png">
          <p class="mt-1">
            Tasnim Technology  Since Tasnim technology had established in 2009,
            and its business domains are on trading & turnkey projects.
            We have a well-established record in the fields of Construction,
            Broadcasting, , Systems Integration, Medical ,Consultation and Media .
          </p>
        </div>
        <div class="col-md-4 col-sm-12">
          <h1>Quick Links</h1>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <ul>
                <li><a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/about-us']" >About Us</a></li>
                <li><a [routerLink]="['/bussniss-line']" >Bussniss Line</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-12">
              <ul>
                <li><a [routerLink]="['/cyber-force']">IT Solutions</a></li>
                <li><a [routerLink]="['/tasnim-control']">Payment Solution</a></li>
                <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <h1>Stay In Touch</h1>
          <ul>
            <li><i class="fa fa-phone" aria-hidden="true"></i>966114535003</li>
            <li><i class="fa fa-fax" aria-hidden="true"></i>966114851461</li>

            <li><i class="fa fa-paper-plane" aria-hidden="true"></i> info@tasnimtech.com</li>
            <li><i class="fa fa-map" aria-hidden="true"></i> King Abdallah Road, Exit 5, Riyadh, KSA</li>
            <li class="d-flex  my-4"><i class="fa fa-facebook p-3" aria-hidden="true"></i>
              <i class="fa fa-twitter p-3" aria-hidden="true"></i>
              <i class="fa fa-youtube p-3" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
