<app-landing-page-header></app-landing-page-header>






<div class="sectionOne">
  <h1 class="text-center">About Us</h1>
  <p>About Tasnim Technology</p>
  <!--<div class="pointOne"></div>-->
</div>
<div class="breadCrumbShift"><span><a [routerLink]="['']">Home</a><span> > </span><a>About Us</a></span></div>
<!---->
<div class="container-fluid p-4" style="   margin-top: 50px;background-color:  #f3f3f3;">
  <div class="d-flex flex-column justify-content-center align-items-center w-100">
    <div class="row mt-1 ">
      <div class="col-md-4 d-flex flex-column  p-3 justify-content-center ">
        <div class="nativeSlarkCard text-center p-2" style=" height: 270px;overflow: hidden">

        <div class="aboutIcon p-3">
        <i class="fa fa-eye text-center " style="font-size: 20px;color: white"></i>
        </div>
        <h6 class="text-center pt-2">Our Vision</h6>
        <small class="text-center v1">To be one of the RELAIBLE BUSINESS PLAYERS in the MENA Region through building an
          Effective PARTNERSHIP
          with Reliable Manufactures and Provide the Best Solutions to our CUSTOMERS</small>
      </div>
      </div>
      <div class="col-md-4 d-flex flex-column  p-3 justify-content-center ">
        <div class="nativeSlarkCard text-center p-2" style=" height: 270px;overflow: hidden">
        <div class="aboutIcon p-3">
        <i class="fa fa-certificate text-center " style="font-size: 20px;color: white"></i>
        </div>
        <h6 class="text-center pt-2">Our Values</h6>
        <small class="text-center v1">Tasnim Technology believe that Real Success in business are based on two pillars, ACHEIVMENTS in compliance with VALUES, Tasnim Technology core VALES are :
<br>     <p class="text-left v1" style="    font-weight: bold;">
          INTEGRITY : To do RIGHT things in RIGHT ways.
          <br>
          COMMITMENT : To respect our OBLIGATIONS.
          <br>
          TRUST : To build strong PARTNERSHIP through our ACTIONS.
          <br>
          EXCELLENCE : To do our BEST in order to ENCHANT our CLINTS.<br>
          </p></small>
      </div>
      </div>
      <div class="col-md-4 d-flex flex-column  p-3 justify-content-center ">
        <div class="nativeSlarkCard text-center p-2" style=" height: 270px; overflow: hidden">
        <div class="aboutIcon p-3">
        <i class="fa fa-eye text-center " style="font-size: 20px;color: white"></i>
        </div>
        <h6 class="text-center pt-2">CAPABILITIES</h6>
        <small class="text-center v1">Tasnim Technology has a deeply experience in managing logistics operations; such as dealing with forwarders, customs, inventory management, in addition to any Legal Issues in KSA.
          Tasnim Technology team manage their day to day business activities, meetings, and overseas partners visits from it’s Headquarter, which is located in King Abdulaziz District, Riyadh, Kingdom of Saudi Arabia.
        </small>
        </div>
      </div>
    </div>
    <div class="nativeSlarkCard p-3">
      <h6>Tasnim Technology</h6>
      <p>

        <strong>Since Tasnim technology had established in 2009</strong><br> and its business domains are on trading & turnkey projects. We have a well-established record in the fields of Construction, Broadcasting, , Systems Integration, Medical ,Consultation and Media .

        Tasnim Technology is proud that it possess a great management team that work in a calm and progressive environment, as it was founded by highly motivated and reliable professionals in the relevant fields, and had attracted a selected staff to achieve its goals and objectives.

        Tasnim Technology established as an entity that brought together the expertise and experience of partners and their complementary business. The cooperation of both Trading and Turnkey projects corporations had shown great outcomes and benefits; therefore we intend to sustain and expand the diversity of the business.

        We have long experience in the GCC market, in addition to the strong relationships and communications which were gained by working with the government and the private sectors in our expertise fields.  Our business drivers focus on Building rapport and trust with consultants and decision maker in market.

        Moreover we are concerned to keep on developing ourselves more in our expertise fields, together with exploring other challengeable fields and opportunities.</p>
    </div>

  </div>
</div>


<!---->

<app-landing-page-footer></app-landing-page-footer>

