<app-landing-page-header></app-landing-page-header>






<div class="sectionOne">
  <h1 class="text-center">Our Partners</h1>
  <p class="text-center"> Tasnim's partners work together to drivers focus on Building rapport and trust with consultants and decision maker in market. </p>
  <!--<div class="pointOne"></div>-->
</div>
<div class="breadCrumbShift"><span><a [routerLink]="['']">Home</a><span> > </span><a>Our Partners</a></span></div>
<!---->
<div class="container-fluid p-4" style=" overflow: hidden;  margin-top: 50px;background-color:  #f3f3f3;">

  <div class="tasnim-partner-container">
    <div class="imgContainer">
      <img src="../../assets/img/partners/2.png">
    </div>
        <h5 class="p-1">Nexans</h5>
      </div>
  <div class="tasnim-partner-container">
    <div class="imgContainer">
      <img src="../../assets/img/partners/4.png">
    </div>
        <h5 class="p-1">ESTAPE</h5>
      </div>
  <div class="tasnim-partner-container">
    <div class="imgContainer">
      <img src="../../assets/img/partners/5.png">
    </div>
        <h5 class="p-1">NETUP</h5>
      </div>
  <div class="tasnim-partner-container">
    <div class="imgContainer">
      <img src="../../assets/img/partners/7.png">
    </div>
        <h5 class="p-1">Axis Communication</h5>
      </div>
  <div class="tasnim-partner-container">
    <div class="imgContainer">
      <img src="../../assets/img/partners/8.svg">
    </div>
        <h5 class="p-1">Milestone</h5>
      </div>
  <div class="tasnim-partner-container">
    <div class="imgContainer">
      <img src="../../assets/img/partners/9.svg">
    </div>
        <h5 class="p-1">DEKTEC</h5>
      </div>
  <div class="tasnim-partner-container">
    <div class="imgContainer">
      <img src="../../assets/img/partners/13.jpg">
    </div>
        <h5 class="p-1">BARNFIND</h5>
      </div>
  <div class="tasnim-partner-container">
    <div class="imgContainer">
      <img src="../../assets/img/partners/14.png">
    </div>
        <h5 class="p-1">COMTECH</h5>
      </div>
  <div class="tasnim-partner-container">
    <div class="imgContainer">
      <img src="../../assets/img/partners/11.png">
    </div>
        <h5 class="p-1">Mobiwire</h5>
      </div>
  <div class="tasnim-partner-container">
    <div class="imgContainer">
      <img src="../../assets/img/partners/15.png">
    </div>
        <h5 class="p-1">upnmed</h5>
      </div>
  <div class="tasnim-partner-container">
    <div class="imgContainer">
      <img src="../../assets/img/partners/16.png">
    </div>
        <h5 class="p-1">Pentatechno</h5>
      </div>
</div>


<!---->

<app-landing-page-footer></app-landing-page-footer>

