<app-landing-page-header></app-landing-page-header>
<div id="aboutus" style="margin-top: 65px" class="container-fluid">

  <div class="  ">


    <div class="col-md-12 ">

      <div class="p-4">
        <div ><h1 class="text-left">Tasnim Product Control System</h1></div>
        <div><h6 class="text-left text-muted">Category: Payment Solution</h6></div>
      </div>


      <div class="main-img">


      </div>


      <div class=" my-4 p-4 container" data-aos="zoom-in">
        <h2 style="color: #60BDF2;
">Product Overview</h2>

        <p>Tasnim Control is a project that  the company  considers to be a technology that meets its demands.
          It is necessary for many companies that have many clients and products and want to communicate
          more and more with their customers while at the same time have more control over the distribution
          of their products and collect their dues. Distribution companies of food products,
          beverages and spare parts, which have customers deal almost daily or weekly ..
          The success of any project depends mainly after its desire and Tawfiq God to reconcile the
          requirements of the customer and the ability of the system to meet the requirements of high
          quality and cost is acceptable. The Tasnim system is controlled by its ability Provide all
          the needs of its users from the distribution companies and their customers with ease of use
          it has become associated with the basic regulations Banizthm operational.</p>
      </div>

      <div class="container">
        <div class="  row">

          <div class="col-md-6 col-sm-12 case1-img " data-aos="zoom-in-right" data-aos-duration="1200">
            <img src="../../../assets/img/case1.png" class="col-12">
          </div>

          <div class="col-md-6 col-sm-12 case1 float-left" data-aos="zoom-in-left" data-aos-duration="1200">
            <h4 class="px-4">Powerfull Control Panel</h4>
            <small class="px-4">Pay control system which specializes in:</small>
            <div  id="benfits" class="p-4">
              <ul>
                <li class="common-BodyText">Management of collection for commercial and corporate sale.</li>
                <li class="common-BodyText">Collection and billing management.</li>
                <li class="common-BodyText">
                  Company Products Management.</li>
                <li class="common-BodyText">Management of company delegates.</li>
                <li class="common-BodyText">
                  Secure the purchase process for customers.
                </li>
                <li class="common-BodyText">
                  Preparing statistics and reports.

                </li>
                <li class="common-BodyText">
                  Control of collections.
                </li>
                <li class="common-BodyText">
                  Control of collection devices.
                </li>
                <li class="common-BodyText">
                  Ability to integrate processes with different systems.
                </li>
              </ul>
            </div>
          </div>
        </div>


        <div class="  row  my-4 ">

          <div class=" case1 text-center my-2 col-12 ">
            <h4 class="px-4  text-center">NFC Cards</h4>
            <!-- <small class="px-4 text-center">which specializes in</small> -->

          </div>

          <div class="col-md-4 col-sm-6 badge-nfc  p-4" data-aos="flip-up">
            <i class="fa fa-clock-o icon-nfc  p-4" aria-hidden="true"></i>
            <p class=" p-4 ">Long Battary Life</p>

          </div>

          <div class="col-md-4 col-sm-6 badge-nfc  p-4" data-aos="flip-up">
            <i class="fa fa-magic icon-nfc  p-4" aria-hidden="true"></i>
            <p class=" p-4 ">Can be printed with company logo.
            </p>

          </div>

          <div class="col-md-4 col-sm-6 badge-nfc  p-4" data-aos="flip-up">
            <i class="fa fa-rocket icon-nfc  p-4" aria-hidden="true"></i>
            <p class=" p-4 ">Easy to use.
            </p>
          </div>
        </div>



        <div class="container">
          <div class="  row">

            <div class="col-md-6 col-sm-12 case1-img float-right"  data-aos="zoom-out-right" data-aos-delay="200" >
              <div class="img-container m-4">
                <img src="../../../assets/img/layer-6.png" class="layer6" data-aos="zoom-out-right" data-aos-duration="1200"  data-aos-delay="400">
                <img src="../../../assets/img/layer-5.png" class="layer5" data-aos="zoom-in-right" data-aos-duration="1200" data-aos-delay="410">
                <img src="../../../assets/img/layer-4.png" class="layer4" data-aos="zoom-out-right" data-aos-duration="1200" data-aos-delay="420">
                <img src="../../../assets/img/layer-3.png" class="layer3" data-aos="zoom-in-right" data-aos-duration="1200" data-aos-delay="430">
                <img src="../../../assets/img/layer-2.png" class="layer2" data-aos="zoom-out-left" data-aos-duration="1000" data-aos-delay="440">
                <img src="../../../assets/img/layer-1.png" class="layer1" data-aos="zoom-out-right" data-aos-duration="1000" data-aos-delay="450">
                <img src="../../../assets/img/layer-0.png" class="layer0" data-aos="zoom-out" data-aos-duration="500" data-aos-delay="460">

              </div>
            </div>

            <div class="col-md-6 col-sm-12 case1 "  data-aos="zoom-out-left" >
              <h4 class="px-4">Mobiprint3</h4>
              <small class="px-4">specializes in:</small>
              <div  id="benfits" class="p-4">
                <ul>
                  <li class="common-BodyText">Easy programming where an android system works.</li>
                  <li class="common-BodyText">Large screen (3.5 ") touch screen is easy to use.
                  </li>
                  <li class="common-BodyText">
                    Have a camera.</li>
                  <li class="common-BodyText">It has a GPS tracking system.
                  </li>
                  <li class="common-BodyText">
                    Wi-Fi system with 2 communication chips.

                  </li>
                  <li class="common-BodyText">
                    It has the feature of reading NFC cards.


                  </li>
                  <li class="common-BodyText">
                    It has 3G connectivity feature.
                  </li>
                  <li class="common-BodyText">
                    Possibility of developing the operating system FOTA system.
                  </li>
                  <li class="common-BodyText">
                    The possibility of adding auxiliary devices (such as fingerprint reader, barcode reader, bank card reader)
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>




    </div>
  </div>
  <div>

    <div class="col-md-4" style="background-color: rgba(0,0,0,0.01);">





    </div>
  </div>
</div>





<!-- about us section -->
<div class="m-2 text-center p-4 summary">
  <img src="../../../assets/img/dist2.png">
  <h4>Tasnim Control System For Product Distribution</h4>

</div>

<div class="row m-0">



  <div class="pro-cont px-4 my-2 col-md-6 col-sm-12">
    <h6 ><i class="fa fa-user-o" aria-hidden="true"></i>
      Advantages and benefits of Tasnim card for the customer
    </h6>
    <div>
      <ul class="text-left">
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Follow-up of the received products accurately and authenticated.</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Helping the customer to quality the process of planning.</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Documenting the automatic receipt process.
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Provide alternative cards in case of loss or theft.
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Secure the use of the card in many ways (fingerprint - secret code - secure mobile number ...) in every use ..</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Document and display all purchases in real time or through monthly reports.
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Ease of use.</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>

      </ul>
    </div>

  </div>




  <div class="pro-cont px-4 my-2  col-md-6 col-sm-12">
    <h6 ><i class="fa fa-building" aria-hidden="true"></i>
      Advantages and Benefits of Tasnim Corporate Card</h6>
    <div>
      <ul class="text-left">
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Credit limits for the customer (daily / weekly / monthly)</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Organization of services for the sale of products to customers.</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Instant monitoring of all product sales.</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Ability to review data on all company operations.</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Ability to stop any client at any moment.</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Ability to stop any delegate at any moment.</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Review daily, weekly and monthly sales accurately and quickly.</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Ability to make comparisons of sales whether for products, customers or delegates.</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>

        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Issue actual invoices to customers of the system.</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>

        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Ability to update product list easily.</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
      </ul>
    </div>

  </div>

</div>

<!-- about us section -->
<div class="m-2 text-center p-4 summary">
  <img src="../../../assets/img/dist1.png">

  <h4>Tasnim Control System For Fuel Distribution</h4>
</div>

<div class="row m-0">



  <div class="pro-cont px-4 my-2 col-md-6 col-sm-12">
    <h6 ><i class="fa fa-user-o" aria-hidden="true"></i>
      Advantages and Benefits of Fuel Card for Individuals
    </h6>
    <div>
      <ul class="text-left">
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Follow-up consumption of car fuel
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Plan to reduce the monthly consumption of your car.
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Reduce the circulation of the casings for refueling.
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Provide alternative cards in case of loss or theft.

          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Secure the use of the card in many ways (fingerprint - secret code - secure mobile number ...) in every use ..</h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Lock the card to use your car only.

          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Document and display all purchases in real time or through monthly reports.
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>

        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Possibility to use the card with all the company 's products within the fuel station.

          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">The possibility of using the card with all the stations and products of the companies, which are associated with the company contracts cooperation.

          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Ease of Use

          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>

      </ul>
    </div>

  </div>




  <div class="pro-cont px-4 my-2  col-md-6 col-sm-12">
    <h6 ><i class="fa fa-building" aria-hidden="true"></i>
      Advantages and Benefits of Tasnim Corporate Card</h6>
    <div>
      <ul class="text-left">
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Determine the consumption limits for your vehicle fleet (daily / weekly / monthly)
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Organize fuel services for different departments within your company.
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Ability to manage the company's operations and manage the car drivers in the system.
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Ensure fuel supply for the vehicle after matching the car with the driver's card allowed to do so
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Immediate monitoring of all fuel deliveries.
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Ability to review data on all company operations.
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Ability to stop drivers or cars at any moment.
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>
        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">Replacement of fuel cards in case of loss and theft.
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>

        <li class="d-flex justify-content-start p-2 progress-stat">
          <h6  class="px-2">The card allows advance payment or credit according to the contracting system.
          </h6>
          <span></span>
          <small  class="px-2 p-1">
          </small>
        </li>

      </ul>
    </div>

  </div>

</div>


<app-contact-us-form></app-contact-us-form>


<app-landing-page-footer></app-landing-page-footer>
