<app-landing-page-header></app-landing-page-header>






<div class="sectionOne">
  <h1 class="text-center">Bussniss Line</h1>
  <!--<div class="pointOne"></div>-->
</div>
<div class="breadCrumbShift"><span><a [routerLink]="['']">Home</a><span> > </span><a>Bussniss Line</a></span></div>
<!---->
<div class="container-fluid p-4" style="   margin-top: 50px;background-color:  #f3f3f3;">
  <div class="d-flex flex-column justify-content-center align-items-center w-100">
    <div class="row mt-1 w-100 ">
<div class="col-12 nativeSlarkCard p-4 my-2">
  We Offer you intelligent solutions to fulfill your Needs with a very Professional team in your service
</div>
    </div>
    <div class=" p-3">
      <div class="row my-2">
        <div class="col-md-6">
          <div class="nativeSlarkCard p-2">
          <h6 ><i class="fa fa-wifi px-1"></i>
            broadcast & monitor systems</h6>
          <p>
            Broadcasting & Monitoring Systems is one  of  our  major  divisions  in  Tasnim  Technology, we believe  that  we  are  from  the  best consultations  providers  for new technologies. Our  main  focus is to  build trust  with  our  clients , and to  assist  them  to  answer  the  big question  which is  how  to  win  the challenge of  the  systems  development  and  Maintenance  difficulties?
            We offer solutions for Broadcasters  and  A/V  specialists, with guidance in how to monitor  thier signals . We deal  with  the  best companies in choosing our products;  have own expertise,  and  we  have  experts  whom  are  willing  to  assist  you.
          </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="nativeSlarkCard p-2">

            <h6> <i class="fa fa-sitemap px-1"></i> Networking & cabling</h6>
            <p>Tasnim Technology had been involved in the cabling market from day one; we are considered one of the market leader suppliers for it.   We had taken the commitment to meet the needs of our clients in different fields, offering them the highest quality with the lowest possible rates.
              Tasnim Technology, as a distinguished supplier of cabling components, strongly cooperates with resellers and system integrators than end-users. Hence we had shared and cooperated in many of the small, medium, large and huge projects in KSA and the neighbor countries.
               </p>
          </div>
        </div>




      </div>
      <div class="row my-2">
        <div class="col-md-6">
           <div class="nativeSlarkCard p-2">

        <h6> <i class="fa fa-credit-card px-1"></i>Payment System</h6>
          <p>settle financial transactions through the transfer of monetary value,
            and includes the institutions, instruments, people, rules, procedures,
            standards, and technologies that make such an exchange possible.
            A common type of payment system is the operational network that links bank accounts
             </p>
           </div>
        </div>
        <div class="col-md-6">
          <div class="nativeSlarkCard p-2 ">

            <h6 >  <i class="fa fa-shield px-1" ></i>Security System</h6>
            <p>
              Tasnim is had a long experience in  Pay- TV Business   and we have a specializes Engineer in the development, design, maintenance and operate the Network , equipment and client for IPTV.
            </p>
          </div>
        </div>

      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <div class="nativeSlarkCard p-2">

          <h6> <i class="fa fa-heartbeat px-1"></i> Medical & Accessories</h6>
          <p>We had acquired strong relations with the end users in hospitals based on mutual trust due to our credibility and professionalism. We are proud to have active files and open channels with all governmental, university and most private hospitals, and we are seeking to develop ourselves further. </p>
          </div>
        </div>
        <div class="col-md-6">
           <div class="nativeSlarkCard p-2">

        <h6> <i class="fa fa-file-code-o px-1"></i>Application</h6>
          <p>The heart of our offering is the development of full-stack web applications with a focus on Python / Django on the backend. By using our successful model, our technology experts help identify the best strategies to combine customized and standardized components.</p>
           </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!---->

<app-landing-page-footer></app-landing-page-footer>

